@use "../abstracts/index" as *;

:root {
  --primary-clr: rgb(255, 255, 255);
  --secondery-clr: rgb(26, 125, 66);
  --accent-clr: rgb(102, 107, 255);
  --h-clr: rgb(34, 35, 40);
  --text-clr: rgb(87, 92, 97);
  --details-bg-clr: rgb(12, 15, 26);
}
